.vs/*
venv/*
outputs/*
params.txt
repositories/BLIP/
repositories/CodeFormer/
repositories/k-diffusion/
repositories/stable-diffusion-stability-ai/
repositories/taming-transformers/
__pycache__/launch.cpython-310.pyc
__pycache__/webui.cpython-310.pyc
aitools/__pycache__/image_segmentation.cpython-310.pyc
aitools/DIS/IS-Net/models/__pycache__/isnet.cpython-310.pyc
aitools/DIS/saved_models/IS-Net/isnet-general-use.pth
config.json
extensions-builtin/LDSR/__pycache__/ldsr_model_arch.cpython-310.pyc
extensions-builtin/LDSR/__pycache__/sd_hijack_autoencoder.cpython-310.pyc
extensions-builtin/LDSR/__pycache__/sd_hijack_ddpm_v1.cpython-310.pyc
extensions-builtin/ScuNET/__pycache__/scunet_model_arch.cpython-310.pyc
extensions-builtin/SwinIR/__pycache__/swinir_model_arch.cpython-310.pyc
extensions-builtin/SwinIR/__pycache__/swinir_model_arch_v2.cpython-310.pyc
models/Codeformer/tmp3kh8ovjr
models/ESRGAN/ESRGAN_4x.pth
models/GFPGAN/detection_Resnet50_Final.pth
models/GFPGAN/GFPGANv1.4.pth
models/GFPGAN/parsing_parsenet.pth
models/RealESRGAN/RealESRGAN_x4plus.pth
models/Stable-diffusion/2D.safetensors
models/Stable-diffusion/2D.yaml
models/Stable-diffusion/3D.ckpt
models/Stable-diffusion/CuteRich.ckpt
models/Stable-diffusion/CuteRich.yaml
models/Stable-diffusion/GTA5.ckpt
models/Stable-diffusion/MicroChars.ckpt
models/Stable-diffusion/Monster.ckpt
models/Stable-diffusion/Monster.yaml
models/Stable-diffusion/Pony.ckpt
models/Stable-diffusion/PrintDesign.ckpt
models/Stable-diffusion/T-shirt.safetensors
models/SwinIR/SwinIR_4x.pth
modules/__pycache__/artists.cpython-310.pyc
modules/__pycache__/call_queue.cpython-310.pyc
modules/__pycache__/codeformer_model.cpython-310.pyc
modules/__pycache__/deepbooru.cpython-310.pyc
modules/__pycache__/deepbooru_model.cpython-310.pyc
modules/__pycache__/devices.cpython-310.pyc
modules/__pycache__/errors.cpython-310.pyc
modules/__pycache__/esrgan_model.cpython-310.pyc
modules/__pycache__/esrgan_model_arch.cpython-310.pyc
modules/__pycache__/extensions.cpython-310.pyc
modules/__pycache__/extras.cpython-310.pyc
modules/__pycache__/face_restoration.cpython-310.pyc
modules/__pycache__/generation_parameters_copypaste.cpython-310.pyc
modules/__pycache__/gfpgan_model.cpython-310.pyc
modules/__pycache__/images.cpython-310.pyc
modules/__pycache__/img2img.cpython-310.pyc
modules/__pycache__/import_hook.cpython-310.pyc
modules/__pycache__/interrogate.cpython-310.pyc
modules/__pycache__/localization.cpython-310.pyc
modules/__pycache__/lowvram.cpython-310.pyc
modules/__pycache__/masking.cpython-310.pyc
modules/__pycache__/memmon.cpython-310.pyc
modules/__pycache__/modelloader.cpython-310.pyc
modules/__pycache__/paths.cpython-310.pyc
modules/__pycache__/processing.cpython-310.pyc
modules/__pycache__/prompt_parser.cpython-310.pyc
modules/__pycache__/realesrgan_model.cpython-310.pyc
modules/__pycache__/safe.cpython-310.pyc
modules/__pycache__/script_callbacks.cpython-310.pyc
modules/__pycache__/script_loading.cpython-310.pyc
modules/__pycache__/scripts.cpython-310.pyc
modules/__pycache__/sd_disable_initialization.cpython-310.pyc
modules/__pycache__/sd_hijack.cpython-310.pyc
modules/__pycache__/sd_hijack_checkpoint.cpython-310.pyc
modules/__pycache__/sd_hijack_clip.cpython-310.pyc
modules/__pycache__/sd_hijack_inpainting.cpython-310.pyc
modules/__pycache__/sd_hijack_open_clip.cpython-310.pyc
modules/__pycache__/sd_hijack_optimizations.cpython-310.pyc
modules/__pycache__/sd_hijack_unet.cpython-310.pyc
modules/__pycache__/sd_hijack_xlmr.cpython-310.pyc
modules/__pycache__/sd_models.cpython-310.pyc
modules/__pycache__/sd_samplers.cpython-310.pyc
modules/__pycache__/sd_vae.cpython-310.pyc
modules/__pycache__/sd_vae_approx.cpython-310.pyc
modules/__pycache__/shared.cpython-310.pyc
modules/__pycache__/styles.cpython-310.pyc
modules/__pycache__/sub_quadratic_attention.cpython-310.pyc
modules/__pycache__/txt2img.cpython-310.pyc
modules/__pycache__/ui.cpython-310.pyc
modules/__pycache__/ui_components.cpython-310.pyc
modules/__pycache__/ui_extensions.cpython-310.pyc
modules/__pycache__/ui_progress.cpython-310.pyc
modules/__pycache__/ui_tempdir.cpython-310.pyc
modules/__pycache__/upscaler.cpython-310.pyc
modules/__pycache__/xlmr.cpython-310.pyc
modules/api/__pycache__/api.cpython-310.pyc
modules/api/__pycache__/models.cpython-310.pyc
modules/codeformer/__pycache__/codeformer_arch.cpython-310.pyc
modules/codeformer/__pycache__/vqgan_arch.cpython-310.pyc
modules/hypernetworks/__pycache__/hypernetwork.cpython-310.pyc
modules/hypernetworks/__pycache__/ui.cpython-310.pyc
modules/textual_inversion/__pycache__/autocrop.cpython-310.pyc
modules/textual_inversion/__pycache__/dataset.cpython-310.pyc
modules/textual_inversion/__pycache__/image_embedding.cpython-310.pyc
modules/textual_inversion/__pycache__/learn_schedule.cpython-310.pyc
modules/textual_inversion/__pycache__/logging.cpython-310.pyc
modules/textual_inversion/__pycache__/preprocess.cpython-310.pyc
modules/textual_inversion/__pycache__/textual_inversion.cpython-310.pyc
modules/textual_inversion/__pycache__/ui.cpython-310.pyc
styles.csv
tmp/stderr.txt
tmp/stdout.txt
ui-config.json
